.meal-amount__handler {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
  margin: 10px 0;
}

.label {
  font-weight: bold;
}

.meal__amount {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 4px 0;
  gap: 12px;
}

.meal__button {
  text-align: right;
  margin: 4px;
  /* padding: 5px 1.7rem; */
}

.meal__input {
  width: 70px;
}
