.add__button {
  background-color: rgb(69, 22, 2);
  border-radius: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
}

.add-to-cart__button {
  padding: 14px 3.5rem;
  font-size: 15px;
}

.add-meal__button {
  padding: 5px 1.5rem;
  text-align: right;
}
